<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h4 class="text-center">SIGN UP</h4>
            <h6 class="card-title text-center">Sign In</h6>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form-label-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address", required: true %>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password", required: true %>
                <label for="inputPassword">Password</label>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
              </div>

              <div class="form-label-group">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password", required: true %>
                <label for="inputPassword">Password Confirmation</label>
              </div>
              
              <%= f.submit "Sign UP", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
              <% end %>
              <%= render "devise/shared/links" %>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
