<div class="row">
  <div class="col-sm">
    <h3>INVALID CONTACTS</h3>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>DATA</th>
      <th>ERRORS</th>
    </tr>
  </thead>

  <tbody>
    <% @invalid_contacts.each do |ic| %>
      <tr>
        <td>
          <small>
            <strong>Name:</strong>
            <%= ic.name %>
            <br />
            <strong>Birthdate:</strong>
            <%= ic.birthdate_str %>
            <br />
            <strong>Phone:</strong>
            <%= ic.phone %>
            <br />
            <strong>Address:</strong>
            <%= ic.address %>
            <br />
            <strong>Credic Card:</strong>
            <%= ic.cc_last_four %>
            <br />
            <strong>CC Franchise:</strong>
            <%= ic.cc_franchise.upcase %>
            <br />
            <strong>CC Hash:</strong>
            <%= ic.cc_number %>          
            <br />
            <strong>Email:</strong>
            <%= ic.email %>
          </small>
        </td>
        <td>
          <ul>
            <% ic.error_msgs.each do |msg| %>
              <li><small><%= msg %></small></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @invalid_contacts %>
