<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Cc franchise</th>
      <th>Cc number</th>
      <th>Cc last four</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= format_date(c.birthdate) %></td>
        <td><%= c.phone %></td>
        <td><%= c.address %></td>
        <td><%= c.cc_franchise %></td>
        <td><%= c.cc_number %></td>
        <td><%= c.cc_last_four %></td>
        <td><%= c.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @contacts %>
<br>
