<div class="row">
  <div class="col-sm">
    <h3>CONTACTS</h3>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>DATA</th>
      <th>CREDIT CARD</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |c| %>
      <tr>
        <td>
          <small>
            <strong>Name:</strong>
            <%= c.name %>
            <br />
            <strong>Birthdate:</strong>
            <%= format_date(c.birthdate) %>
            <br />
            <strong>Phone:</strong>
            <%= c.phone %>
            <br />
            <strong>Address:</strong>
            <%= c.address %>
            <br />
            <strong>Email:</strong>
            <%= c.email %>
          </small>
        </td>
        <td>
          <small>
            <strong>Credic Card:</strong>
            <%= c.cc_last_four %>
            <br />
            <strong>CC Franchise:</strong>
            <%= c.cc_franchise.upcase %>
            <br />
            <strong>CC Hash:</strong>
            <%= c.cc_number %>
          </small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @contacts %>
