<%= form_with(model: csv_file, local: true) do |form| %>
  <% if csv_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(csv_file.errors.count, "error") %> prohibited this csv_file from being saved:</h2>

      <ul>
      <% csv_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'CSV File with Contacts' %>
    <%= form.file_field :contacts_file, required: true %>
  </div>

  <div class="field">
    <%= form.label 'CSV Name Column' %>
    <%= form.select 'columns[name]', sheet_columns, { selected: sheet_columns[0] }, { class: 'form-control' }  %>
  </div>

  <div class="field">
    <%= form.label 'CSV Birthdate Column' %>
    <%= form.select 'columns[birthdate]', sheet_columns, { selected: sheet_columns[1] }, { class: 'form-control' }  %>
  </div>

  <div class="field">
    <%= form.label 'CSV Phone Column' %>
    <%= form.select 'columns[phone]', sheet_columns, { selected: sheet_columns[2] }, { class: 'form-control' }  %>
  </div>

  <div class="field">
    <%= form.label 'CSV Address Column' %>
    <%= form.select 'columns[address]', sheet_columns, { selected: sheet_columns[3] }, { class: 'form-control' }  %>
  </div>

  <div class="field">
    <%= form.label 'CSV Credit Card Column' %>
    <%= form.select 'columns[cc]', sheet_columns, { selected: sheet_columns[4] }, { class: 'form-control' }  %>
  </div>

  <div class="field">
    <%= form.label 'CSV Email Column' %>
    <%= form.select 'columns[email]', sheet_columns, { selected: sheet_columns[5] }, { class: 'form-control' }  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
