<!DOCTYPE html>
<html>
  <head>
    <title>ContactsImporter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p>
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% end %>
    </p>
    <%= link_to 'CSV Files', csv_files_url %>
    <%= link_to 'Import new CSV File', new_csv_file_url %>
    <%= link_to 'Contacts', contacts_url %>
    <%= link_to 'Invalid Contacts', invalid_contacts_url %>
    <%= yield %>
  </body>
</html>
